@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DM Serif Display;
  src: url(./public/fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
  font-family: Old Standard;
  src: url(./public/fonts/OldStandardTT-Regular.ttf);
}

@font-face {
  font-family: Gotham;
  src: url(./public/fonts/Gotham-Book.otf);
}

h1 {
  font-family:
    DM Serif Display,
    Georgia,
    "Times New Roman",
    Times,
    serif;
}

body {
  background-image: url("./public/bg.jpg");
}

@keyframes slideshow {
  0% {
    background-image: url(./public/title-imgs/title-img.jpg);
  }
  15% {
    background-image: url(./public/title-imgs/a.jpg);
  }
  30% {
    background-image: url(./public/title-imgs/b.jpg);
  }
  45% {
    background-image: url(./public/title-imgs/c.jpg);
  }
  65% {
    background-image: url(./public/title-imgs/d.jpg);
  }
  80% {
    background-image: url(./public/title-imgs/e.jpg);
  }
  100% {
    background-image: url(./public/title-imgs/f.jpg);
  }
}

#title-img {
  background-image: url(./public/title-imgs/title-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation: slideshow 17s infinite;
}

body {
  animation: fadein 1s ease-in-out 0s;
  max-width: 80rem;
  margin: 0 auto;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

#txt-magazine-container h2 {
  background-image: url(./public/bg.jpg);
  background-size: cover;
}

h2,
nav li,
nav a {
  font-family:
    DM Serif Display,
    Georgia,
    "Times New Roman",
    Times,
    serif;
}

h3 {
  color: black;
  font-family:
    Old Standard,
    Georgia,
    "Times New Roman",
    Times,
    serif;
}

p,
a {
  font-family: Gotham, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-weight: lighter;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.dot {
  height: 10px;
  width: 10px;
}

figure {
  min-height: 28rem;
}

figure {
  min-height: 28rem;
}

@media (min-width: 1000px) {
  figure {
    min-height: 24rem;
  }

  body {
    margin: 0 4rem;
  }
}

@media (min-width: 1281px) {
  body {
    margin: 0 auto;
  }
}

/* CAROUSEL CSS */

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  transition: all 0.4s ease-in;
  margin: 0px auto;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.arrows {
  position: absolute;
  color: #000000;
  top: 27%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  gap: 50%;
  font-size: 70px;
}

.cards {
  position: relative;
  width: 80%;
  height: 250px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#item-1:checked ~ .cards #article-8,
#item-2:checked ~ .cards #article-1,
#item-3:checked ~ .cards #article-2,
#item-4:checked ~ .cards #article-3,
#item-5:checked ~ .cards #article-4,
#item-6:checked ~ .cards #article-5,
#item-7:checked ~ .cards #article-6,
#item-8:checked ~ .cards #article-7 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #article-2,
#item-2:checked ~ .cards #article-3,
#item-3:checked ~ .cards #article-4,
#item-4:checked ~ .cards #article-5,
#item-5:checked ~ .cards #article-6,
#item-6:checked ~ .cards #article-7,
#item-7:checked ~ .cards #article-8,
#item-8:checked ~ .cards #article-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #article-1,
#item-2:checked ~ .cards #article-2,
#item-3:checked ~ .cards #article-3,
#item-4:checked ~ .cards #article-4,
#item-5:checked ~ .cards #article-5,
#item-6:checked ~ .cards #article-6,
#item-7:checked ~ .cards #article-7,
#item-8:checked ~ .cards #article-8 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;

  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

/*send a card to the back to hide */

#item-1:checked ~ .cards #article-3,
#item-1:checked ~ .cards #article-4,
#item-1:checked ~ .cards #article-5,
#item-1:checked ~ .cards #article-6,
#item-1:checked ~ .cards #article-7 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-2:checked ~ .cards #article-4,
#item-2:checked ~ .cards #article-5,
#item-2:checked ~ .cards #article-6,
#item-2:checked ~ .cards #article-7,
#item-2:checked ~ .cards #article-8 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-3:checked ~ .cards #article-1,
#item-3:checked ~ .cards #article-5,
#item-3:checked ~ .cards #article-6,
#item-3:checked ~ .cards #article-7,
#item-3:checked ~ .cards #article-8 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-4:checked ~ .cards #article-1,
#item-4:checked ~ .cards #article-2,
#item-4:checked ~ .cards #article-6,
#item-4:checked ~ .cards #article-7,
#item-4:checked ~ .cards #article-8 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-5:checked ~ .cards #article-1,
#item-5:checked ~ .cards #article-2,
#item-5:checked ~ .cards #article-3,
#item-5:checked ~ .cards #article-7,
#item-5:checked ~ .cards #article-8 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-6:checked ~ .cards #article-1,
#item-6:checked ~ .cards #article-2,
#item-6:checked ~ .cards #article-3,
#item-6:checked ~ .cards #article-4,
#item-6:checked ~ .cards #article-8 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-7:checked ~ .cards #article-1,
#item-7:checked ~ .cards #article-2,
#item-7:checked ~ .cards #article-3,
#item-7:checked ~ .cards #article-4,
#item-7:checked ~ .cards #article-5 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-8:checked ~ .cards #article-2,
#item-8:checked ~ .cards #article-3,
#item-8:checked ~ .cards #article-4,
#item-8:checked ~ .cards #article-5,
#item-8:checked ~ .cards #article-6 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

.featured-description {
  width: 100%;
  padding: 16px 10px;
  text-align: center;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  height: 149px;
  overflow: hidden;
}

.article-info {
  width: 100%;
  display: block;
}

.article-info {
  color: #403d40;
  line-height: 22px;
  padding-bottom: 10px;
}

.title {
  font-size: 25px;
  font-weight: 500;
}

/* .sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
} */

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.5s ease-in;
}

#item-1:checked ~ .featured-description #test {
  transform: translateY(0);
}

#item-2:checked ~ .featured-description #test {
  transform: translateY(-172px);
}

#item-3:checked ~ .featured-description #test {
  transform: translateY(-341px);
}

#item-4:checked ~ .featured-description #test {
  transform: translateY(-507px);
}

#item-5:checked ~ .featured-description #test {
  transform: translateY(-676px);
}

#item-6:checked ~ .featured-description #test {
  transform: translateY(-845px);
}

#item-7:checked ~ .featured-description #test {
  transform: translateY(-1014px);
}

#item-8:checked ~ .featured-description #test {
  transform: translateY(-1183px);
}

#index-img-container div img {
  width: 220px;
  height: 100px;
  object-fit: cover;
}

@media (min-width: 640px) {
  #index-img-container div img {
    height: 280px;
  }

  #index-img-container div:nth-of-type(2),
  #index-img-container div:nth-of-type(4) {
    transform: translateY(20px);
  }
}

#index-img-container div {
  filter: brightness(75%);
  transition: transform 0.4s ease-in;
}

#index-img-container div:hover {
  transform: translateY(-30px);
  transition: transform 0.2s ease-in-out;
  filter: brightness(100%);
}

#item-1:checked ~ .progress-indicator #indicator-item-1 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-2:checked ~ .progress-indicator #indicator-item-2 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-3:checked ~ .progress-indicator #indicator-item-3 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-4:checked ~ .progress-indicator #indicator-item-4 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-5:checked ~ .progress-indicator #indicator-item-5 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-6:checked ~ .progress-indicator #indicator-item-6 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-7:checked ~ .progress-indicator #indicator-item-7 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-8:checked ~ .progress-indicator #indicator-item-8 {
  background-color: #ef4444;
  border-color: #ef4444;
}

::-webkit-scrollbar {
  width: 2px;
}
