@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DM Serif Display;
  src: url(./public/fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
  font-family: Old Standard;
  src: url(./public/fonts/OldStandardTT-Regular.ttf);
}

@font-face {
  font-family: Gotham;
  src: url(./public/fonts/Gotham-Book.otf);
}

h1 {
  font-family: DM Serif Display, Georgia, "Times New Roman", Times, serif;
}

h2,
nav {
  font-family: DM Serif Display, Georgia, "Times New Roman", Times, serif;
}

h3 {
  color: black;
  font-family: Old Standard, Georgia, "Times New Roman", Times, serif;
}

p {
  font-family: Gotham, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-weight: lighter;
}

* {
  box-sizing: border-box;
}

html {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
  max-width: 110rem;
}

/* CAROUSEL CSS */
