*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  bottom: 0px;
}

.z-50 {
  z-index: 50;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.h-96 {
  height: 24rem;
}

.h-full {
  height: 100%;
}

.h-px {
  height: 1px;
}

.w-10 {
  width: 2.5rem;
}

.w-full {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-full {
  border-radius: 9999px;
}

.border {
  border-width: 1px;
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}

.border-gray-800 {
  --tw-border-opacity: 1;
  border-color: rgb(31 41 55 / var(--tw-border-opacity));
}

.border-slate-950 {
  --tw-border-opacity: 1;
  border-color: rgb(2 6 23 / var(--tw-border-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.bg-slate-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

.bg-slate-950 {
  --tw-bg-opacity: 1;
  background-color: rgb(2 6 23 / var(--tw-bg-opacity));
}

.bg-opacity-60 {
  --tw-bg-opacity: 0.6;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.indent-16 {
  text-indent: 4rem;
}

.align-middle {
  vertical-align: middle;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-black {
  font-weight: 900;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.text-orange-50 {
  --tw-text-opacity: 1;
  color: rgb(255 247 237 / var(--tw-text-opacity));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.text-slate-950 {
  --tw-text-opacity: 1;
  color: rgb(2 6 23 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.decoration-red-500 {
  text-decoration-color: #ef4444;
}

.underline-offset-4 {
  text-underline-offset: 4px;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@font-face {
  font-family: DM Serif Display;

  src: url(./public/fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
  font-family: Old Standard;

  src: url(./public/fonts/OldStandardTT-Regular.ttf);
}

@font-face {
  font-family: Gotham;

  src: url(./public/fonts/Gotham-Book.otf);
}

h1 {
  font-family:
    DM Serif Display,
    Georgia,
    "Times New Roman",
    Times,
    serif;
}

.nav-item-left,
.nav-item-right {
  transition:
    transform 0.3s ease,
    margin 0.3s ease;
}

.nav-item-left:hover {
  transform: translateX(7px);
  margin: 0 5px;
}

.nav-item-right:hover {
  transform: translateX(-7px);
  margin: 0 5px;
}

.nav-item-left:active,
.nav-item-right:active {
  transform: scale(0.65);
}

body {
  background-image: url("./public/bg.jpg");
}

@keyframes slideshow {
  0% {
    opacity: 0.3;
    background-image: url(./public/title-imgs/title-img.jpg);
  }

  2% {
    opacity: 1;
    background-image: url(./public/title-imgs/title-img.jpg);
  }

  15% {
    background-image: url(./public/title-imgs/a.jpg);
  }

  30% {
    background-image: url(./public/title-imgs/b.jpg);
  }

  45% {
    background-image: url(./public/title-imgs/title-img.jpg);
  }

  70% {
    background-image: url(./public/title-imgs/a.jpg);
  }

  85% {
    background-image: url(./public/title-imgs/e.jpg);
  }

  100% {
    background-image: url(./public/title-imgs/f.jpg);
  }
}

#title-img {
  background-image: url(./public/title-imgs/title-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation: slideshow 15s infinite;
}

figure img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  animation: fadein 1s ease-in-out 0s;
  max-width: 80rem;
  margin: 0 auto;
}

@keyframes fadein {
  0% {
    opacity: 0.4;
    transform: scale(0);
  }

  8% {
    transform: scale(0.7);
  }

  10% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.01);
  }

  80% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#txt-magazine-container h2 {
  background-image: url(./public/bg.jpg);
  background-size: cover;
}

h2,
nav li,
nav a {
  font-family:
    DM Serif Display,
    Georgia,
    "Times New Roman",
    Times,
    serif;
}

h3 {
  color: black;
  font-family:
    Old Standard,
    Georgia,
    "Times New Roman",
    Times,
    serif;
}

p,
a {
  font-family: Gotham, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-weight: lighter;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.dot {
  height: 10px;
  width: 10px;
}

figure {
  min-height: 28rem;
}

@media (min-width: 1000px) {
  figure {
    min-height: 24rem;
  }

  body {
    margin: 0 4rem;
  }
}

@media (min-width: 1281px) {
  body {
    margin: 0 auto;
  }
}

/* CAROUSEL CSS */

.container {
  font-family: "DM Sans", sans-serif;
  transition: all 0.4s ease-in;
  margin: 0px auto;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.arrows {
  position: absolute;
  color: #000000;
  top: 27%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  gap: 50%;
  font-size: 80px;
  z-index: 1;
  opacity: 0.7;
}

.arrows:hover {
  z-index: 1;
  transform: translateY(-50%);
  transition: transform 0.2s ease;
}

.arrows span {
  z-index: 1;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrows span.scaled {
  transform: scale(1);
}

.arrows span:hover {
  z-index: 1;
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.arrows span:active {
  transform: scale(0.85);
}

.cards {
  position: relative;
  width: 80%;
  height: 250px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#item-1:checked ~ .cards #article-8,
#item-2:checked ~ .cards #article-1,
#item-3:checked ~ .cards #article-2,
#item-4:checked ~ .cards #article-3,
#item-5:checked ~ .cards #article-4,
#item-6:checked ~ .cards #article-5,
#item-7:checked ~ .cards #article-6,
#item-8:checked ~ .cards #article-7 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #article-2,
#item-2:checked ~ .cards #article-3,
#item-3:checked ~ .cards #article-4,
#item-4:checked ~ .cards #article-5,
#item-5:checked ~ .cards #article-6,
#item-6:checked ~ .cards #article-7,
#item-7:checked ~ .cards #article-8,
#item-8:checked ~ .cards #article-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #article-1,
#item-2:checked ~ .cards #article-2,
#item-3:checked ~ .cards #article-3,
#item-4:checked ~ .cards #article-4,
#item-5:checked ~ .cards #article-5,
#item-6:checked ~ .cards #article-6,
#item-7:checked ~ .cards #article-7,
#item-8:checked ~ .cards #article-8 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

/*send a card to the back to hide */

#item-1:checked ~ .cards #article-3,
#item-1:checked ~ .cards #article-4,
#item-1:checked ~ .cards #article-5,
#item-1:checked ~ .cards #article-6,
#item-1:checked ~ .cards #article-7 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-2:checked ~ .cards #article-4,
#item-2:checked ~ .cards #article-5,
#item-2:checked ~ .cards #article-6,
#item-2:checked ~ .cards #article-7,
#item-2:checked ~ .cards #article-8 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-3:checked ~ .cards #article-1,
#item-3:checked ~ .cards #article-5,
#item-3:checked ~ .cards #article-6,
#item-3:checked ~ .cards #article-7,
#item-3:checked ~ .cards #article-8 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-4:checked ~ .cards #article-1,
#item-4:checked ~ .cards #article-2,
#item-4:checked ~ .cards #article-6,
#item-4:checked ~ .cards #article-7,
#item-4:checked ~ .cards #article-8 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-5:checked ~ .cards #article-1,
#item-5:checked ~ .cards #article-2,
#item-5:checked ~ .cards #article-3,
#item-5:checked ~ .cards #article-7,
#item-5:checked ~ .cards #article-8 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-6:checked ~ .cards #article-1,
#item-6:checked ~ .cards #article-2,
#item-6:checked ~ .cards #article-3,
#item-6:checked ~ .cards #article-4,
#item-6:checked ~ .cards #article-8 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-7:checked ~ .cards #article-1,
#item-7:checked ~ .cards #article-2,
#item-7:checked ~ .cards #article-3,
#item-7:checked ~ .cards #article-4,
#item-7:checked ~ .cards #article-5 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

#item-8:checked ~ .cards #article-2,
#item-8:checked ~ .cards #article-3,
#item-8:checked ~ .cards #article-4,
#item-8:checked ~ .cards #article-5,
#item-8:checked ~ .cards #article-6 {
  transform: translatex(0) scale(1);
  opacity: 0;
}

.featured-description {
  width: 100%;
  padding: 16px 10px;
  text-align: center;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  height: 149px;
  overflow: hidden;
}

.article-info {
  width: 100%;
  display: block;
  color: #403d40;
  line-height: 22px;
  padding-bottom: 10px;
}

.title {
  font-size: 25px;
  font-weight: 500;
}

/* .sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
} */

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.5s ease-in;
}

#item-1:checked ~ .featured-description #test {
  transform: translateY(0);
}

#item-2:checked ~ .featured-description #test {
  transform: translateY(-172px);
}

#item-3:checked ~ .featured-description #test {
  transform: translateY(-341px);
}

#item-4:checked ~ .featured-description #test {
  transform: translateY(-507px);
}

#item-5:checked ~ .featured-description #test {
  transform: translateY(-676px);
}

#item-6:checked ~ .featured-description #test {
  transform: translateY(-845px);
}

#item-7:checked ~ .featured-description #test {
  transform: translateY(-1014px);
}

#item-8:checked ~ .featured-description #test {
  transform: translateY(-1183px);
}

#index-img-container div img {
  width: 220px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 640px) {
  #index-img-container div img {
    height: 280px;
  }

  #index-img-container div:nth-of-type(2),
  #index-img-container div:nth-of-type(4) {
    transform: translateY(20px);
  }
}

#index-img-container div {
  filter: brightness(75%);
  transition: transform 0.4s ease-in;
}

#index-img-container div:hover {
  transform: translateY(-30px);
  transition: transform 0.2s ease-in-out;
  filter: brightness(100%);
}

#item-1:checked ~ .progress-indicator #indicator-item-1 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-2:checked ~ .progress-indicator #indicator-item-2 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-3:checked ~ .progress-indicator #indicator-item-3 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-4:checked ~ .progress-indicator #indicator-item-4 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-5:checked ~ .progress-indicator #indicator-item-5 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-6:checked ~ .progress-indicator #indicator-item-6 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-7:checked ~ .progress-indicator #indicator-item-7 {
  background-color: #ef4444;
  border-color: #ef4444;
}

#item-8:checked ~ .progress-indicator #indicator-item-8 {
  background-color: #ef4444;
  border-color: #ef4444;
}

::-webkit-scrollbar {
  width: 2px;
}

.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:bg-red-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.hover\:bg-slate-950:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(2 6 23 / var(--tw-bg-opacity));
}

.hover\:bg-transparent:hover {
  background-color: transparent;
}

.hover\:text-orange-50:hover {
  --tw-text-opacity: 1;
  color: rgb(255 247 237 / var(--tw-text-opacity));
}

.hover\:text-slate-950:hover {
  --tw-text-opacity: 1;
  color: rgb(2 6 23 / var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .sm\:hidden {
    display: none;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .sm\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 768px) {
  .md\:block {
    display: block;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .lg\:my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:max-w-4xl {
    max-width: 56rem;
  }

  .lg\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .lg\:pb-2 {
    padding-bottom: 0.5rem;
  }

  .lg\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }
}
